<!DOCTYPE html>

<html>

  <head>
    <title> EDIT STORY PAGE </title>
  </head>
  Flying Karate Masters: Matthew Yee, Kevin Li, Joseph Wu 
  <br>
  <body>
    <h1>
      Write some stuff! (200 character limit)
    </h1>
    <form method="POST" action="/main">
      <button name="Home">
          Home
      </button>
    </form>
    <h3>
        {{story_title}}
    </h3>
    <form method="POST">
      Previous Line:
      <br>
      {{latest_entry}}
      <br>
      <br>
      Your continuation:
      <br>
      <textarea name="contents" rows = "10" cols = "60" maxlength = "200">
      </textarea>
      <br>
      <input type="submit" name="sub1">
      <input type="hidden" name="title" value="{{story_title}}">
    </form>
    {{error_message}}
  </body>

</html>