<!-- 
#Flying Karate Masters: Matthew Yee, Kevin Li, Joseph Wu
#SoftDev
#K19 -- Cookies
#2022-11-04
#time spent: 0.5 hours
 -->
<html>

    <title>
        super cool page for super cool people
    </title>
    <form method="POST" action="/main">
        <button name="Home">
            Home
        </button>
    </form>
    <form method="POST" action="/logout">
        <button name="B_logout">
            Logout
        </button>
    </form>
    Flying Karate Masters: Matthew Yee, Kevin Li, Joseph Wu
    <h1>
        Welcome to the main page, {{username}}
    </h1>

    <form method="GET" action="/create">
        <button name="create_story">
            New Story
        </button>
    </form>

    </p>
    <h3>
        Stories you've contributed to:
    </h3>
    {% for story in contributed_dict %}
        {{story}} 
        <form method="POST" action="/edit">
            <button name="title" value="{{story}}">
                view
            </button>
            Number of entries: {{contributed_dict[story]}}
            <br>
        </form>
    {% endfor %}

    <h3>
        Stories to browse:
    </h3> 
    {% for story in not_contributed_dict %}
        {{story}} 
        <form method="POST" action="/edit">
            <button name="title" value="{{story}}">
                edit
            </button>
            Number of entries: {{not_contributed_dict[story]}}
        <br>
        </form>
    {% endfor %}
    <p>
</html>