<!DOCTYPE html>
<!-- 
#Flying Karate Masters: Matthew Yee, Kevin Li, Joseph Wu
#SoftDev
#K19 -- Cookies
#2022-11-04
#time spent: 0.5 hours
 -->


<html>

  <head>
    <title> NEW STORY PAGE </title>
  </head>
  Flying Karate Masters: Matthew Yee, Kevin Li, Joseph Wu 
  <br>
  <body>
    <h1>
      Write some stuff!
    </h1>

    <form method="POST">
      Title
      <br>
      <input type="text" name="title">
      <br>
      Story
      <br>
      <input type="text" name="contents">
      <br>
      <input type="submit" name="sub1">
    </form>
    <br>
    {{error_message}}
  </body>

</html>