<!DOCTYPE html>

<html>

  <head>
    <title> NEW STORY PAGE </title>
  </head>
  Flying Karate Masters: Matthew Yee, Kevin Li, Joseph Wu 
  <br>
  <body>
    <h1>
      Write some stuff!
    </h1>
    <form method="POST" action="/main">
      <button name="Home">
          Home
      </button>
    </form>
    <form method="POST">
      Title
      <br>
      <input type="text" name="title">
      <br>
      Story
      <br>
      <textarea name="contents" rows = "20" cols = "60">
      </textarea>
      <br>
      <input type="submit" name="sub1">
    </form>
    <br>
    {{message}}
    {% for error in error_message %}
        {{error}} <br>
    {% endfor %}
  </body>

</html>
